<div class="hot-deals">
  <div class="container">
    <div class="hot-deals-slider">
      <div class="slider-item">
        <div class="row">
          <div class="case col-4">
            <div class="content">
              <div class="cart">
                <div class="cart-title">
                  <p>hot deals</p>
                  <div class="col-auto dots">
                    <ul>
                      <li><a href="#" class="active"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="cart-body">
                  <img class="product-photo" src="./images/hot-deals.png" alt="" />
                  <div class="add-to-cart">
                    <i class="fa fa-shopping-basket"></i>
                    <p>add to cart</p>
                  </div>
                  <div class="time-count">
                    <div class="days time"><span class="count">25</span>days</div>
                    <div class="hours time"><span class="count">10</span>hrs</div>
                    <div class="minuts time"><span class="count">45</span>mins</div>
                    <div class="seconds time"><span class="count">30</span>secs</div>
                  </div>
                </div>
                <div class="cart-footer">
                  <div class="product-name"><p>Aenean Ru Bristique</p></div>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                  <div class="pre-footer-cart">
                    <ul class="actions">
                      <div class="outlines">
                        <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                        <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                        <a href="#" class="btn-outline"
                          ><i class="fas fa-exchange-alt"></i
                        ></a>
                      </div>
                    </ul>
                    <div class="price">
                      <span class="old-price">$350.00</span>
                      <span class="current-price">$300.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="case col-8">
            <div class="content">
              <div class="slide-img-desc">
                <img src="./images/indoor-furniture.jpg" alt="" />
                <div class="box-desc">
                  <p class="title-slider">indoor <span class="bold">furniture</span></p>
                  <p class="desc">save up to 50% of all furniture</p>
                  <a class="shop-now" href="#">shop now</a>
                  <p></p>
                </div>
              </div>
              <div class="slider-btn">
                <div class="slider-buttons">
                  <button class="slider-button prev-button"><</button>
                  <button class="slider-button next-button">></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
