<div class="section--deals mb-4">
  <div class="container">
    <div class="row">
      <div class="col-6 deals-first-col">
        <div class="overlay"></div>
        <div class="first-col-text text-white text-uppercase font-weight-bold">
          <p class="text-room mb-0">Guest room</p>
          <h5>sofa</h5>
          <p class="text-percent">-20%</p>
        </div>
        <img src="images/deals/first_col_bg.jpg" alt="sofa" />
      </div>
      <div class="col-6 deals-second-col">
        <div class="col-12 inner-first text-left">
          <div class="inner-first-col-text">
            <h5 class="text-uppercase text-black"><span>office</span> chair</h5>
            <p class="text-uppercase text-black">collection</p>
            <p class="price">$200.00</p>
          </div>
          <img src="images/deals/chair1_inner1.jpeg" class="chair1" alt="chair1" />
          <img src="images/deals/chair2_inner1.jpeg" class="chair2" alt="chair2" />
        </div>
        <div class="col-12 inner-second">
          <img src="images/deals/bed_inner2.jpeg" class="bed" alt="bed1" />
          <div class="inner-second-col-text float-right text-right text-uppercase">
            <h5><span>special</span> collection</h5>
            <p>save up 45% of furniture</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
