<div class="section--deals mb-4">
  <div class="container">
    <div class="row">
      <div class="col-6 deals-first-col">
        <div class="overlay"></div>
        <div class="text text-white text-uppercase font-weight-bold">
          <p class="text-room mb-0">Guest room</p>
          <h5 class="">sofa</h5>
          <p class="text-percent">-20%</p>
        </div>
        <img src="images/deals/first_col_bg.jpg" alt="sofa" />
      </div>
      <div class="col-6 deals-second-col">
        <div class="col-12 inner-first"></div>
        <div class="col-12 inner-second"></div>
      </div>
    </div>
  </div>
</div>
