<div class="section--gallery">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="panel-bar">
                    <div class="row no-gutters align-items-end">
                        <div class="col-auto heading"><h3>Furniture Gallery</h3></div>
                        <div class="col"></div>
                    </div>
                        <ul class="gallery-tabs text-uppercase">
                            <li><a href="#">Featured</a></li>
                            <li><a href="#" class="active">Top Seller</a></li>
                            <li><a href="#">Sale off</a></li>
                            <li><a href="#">Top Rated</a></li>
                        </ul> 
                </div>
                <div class="col main">

                </div>
                <div class="col gallery-slides d-inline-flex">
                    <a href="#">&#60</a>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <a href="#">&#62</a>
                </div>    
            </div>
            <div class="col-6 second">
                <div class="jumbotron">
                    <h2><span class="text-uppercase">from  </span> $50.80</h2>
                    <h2 class="bed">Bedroom bed</h2>
                    <button type="button" class="btn btn-success btn-lg text-uppercase">Shop now</button>
                </div>
                <img src="images/gallery/bed_promo.png" alt="bed">
            </div>
        </div>
    </div>
</div>