<div class="section-brands container">
  <div class="slider-brand-line">
    <div class="slider-brand">
      <div class="slider-brand-item">
        <div class="slider-brand-item-logo">
          <img src="images/brands/brand1.png" alt="" />
        </div>
      </div>
      <div class="slider-brand-item">
        <div class="slider-brand-item-logo">
          <img src="images/brands/brand2.png" alt="" />
        </div>
      </div>
      <div class="slider-brand-item">
        <div class="slider-brand-item-logo">
          <img src="images/brands/brand3.png" alt="" />
        </div>
      </div>
      <div class="slider-brand-item">
        <div class="slider-brand-item-logo">
          <img src="images/brands/brand4.png" alt="" />
        </div>
      </div>
      <div class="slider-brand-item">
        <div class="slider-brand-item-logo">
          <img src="images/brands/brand5.png" alt="" />
        </div>
      </div>
      <div class="slider-brand-item">
        <div class="slider-brand-item-logo">
          <img src="images/brands/brand6.png" alt="" />
        </div>
      </div>
    </div>
    <button class="prev"><</button> <button class="next">></button>
  </div>
</div>
