<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading progress-line">
          <h3 class="heading-text">client feedback</h3>
        </div>
        <div class="col progress-line"></div>
        <div class="col-auto dots progress-line">
          <ul class="feedback-dots">
            <li><a class="carousel-dots"></a></li>
            <li><a class="carousel-dots"></a></li>
            <li><a class="carousel-dots"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback-slider">
      <div class="slider-item">
        <div class="content">
          <div class="quote"><i class="fas fa-quote-right"></i></div>
          <p class="comment col-10">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </p>
          <div class="client-info">
            <div class="client-photo"></div>
            <div class="client-name-division">
              <p><span>John Smith</span></p>
              <p>Furniture client</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="content">
          <div class="quote"><i class="fas fa-quote-right"></i></div>
          <p class="comment col-10">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </p>
          <div class="client-info">
            <div class="client-photo"></div>
            <div class="client-name-division">
              <p><span>John Smith</span></p>
              <p>Furniture client</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="content">
          <div class="quote"><i class="fas fa-quote-right"></i></div>
          <p class="comment col-10">
            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
          </p>
          <div class="client-info">
            <div class="client-photo"></div>
            <div class="client-name-division">
              <p><span>John Smith</span></p>
              <p>Furniture client</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
